.food-card {
    margin-bottom: 50px;
    -webkit-box-shadow: 6px 2px 7px 0px rgba(71,71,71,1);
    -moz-box-shadow: 6px 2px 7px 0px rgba(71,71,71,1);
    box-shadow: 6px 2px 7px 0px rgba(71,71,71,1);
    cursor: pointer;


    .card-header{
        text-align: center;
    }
    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:65px;
    }
}